.wrapper {
    max-width: 1600px;
    margin: 0 auto;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}
.btn {
    border-radius: 100rem;
    background-color: #fff;
    border: none;
    font-size: 14px;
    font-weight: bold;
    transition: .5s ease-in-out;
}