.header-product {
    background-color: #1f2833;
    width: 100%;
    position: fixed;
    z-index: 100;
    box-shadow: .05rem .05rem .2rem gray;
    &-main{
        display:flex;
        justify-content: space-between;
        align-items: center;
        height: 5rem;
        width: 100%;
        .logo {
            width: 25%;
        }
        .logo-link{
            display: flex;
            justify-content: center;
            align-items: center;
            color: #66fcf1;
            width: fit-content;
            img{
                width: 4rem;
            }
           
        }  
        .header-icon {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            gap: 0 1rem;
            width: 25%;
            i {
                font-size: 1.5rem;
                color: #66fcf1;
                cursor: pointer;
            }
            i:hover {
                transform: scale(1.2);
            }
            span {
                width: .05rem;
                height: 1.5rem;
                background-color: $primary-color;
            }
            .search-box {
                width: 1.5rem;
                display: flex;
                align-items: center;
                border-radius: 100rem;
                background-color: unset;
                transition: width .5s;
                input {
                   width: 0;
                   border: none;
                }
            }
            .search-box:hover {
                background-color: lightgray;
                padding: .2rem .5rem;
                width: 100%;
                input {
                   flex: 1;
                   background-color: lightgray;
                }
                i{
                    color: black;
                    padding-right: .5rem;
                }
            }

        }

    }
}
.wrap-3d {
    perspective: 400px;
    img {
        // transform-style: preserve-3d;
        transition: .5s;
    }
  
}
.logo:hover img {
    transform: rotateY(-180deg);
}