.menu {
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 100%;
    margin-left: 2rem;
    li {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        padding: 0 1rem;
        position: relative;
        cursor: pointer;
    }
    li:after {
        position: absolute;
        content: "";
        display: block;
        bottom: 40%;
        width: 100%;
        height: .2rem;
        background-color: $color;
        transition: .3s ;
        opacity: 0;
        visibility: hidden;
    }
    &-link {
        color: inherit;
    }
     
    li:hover{
        background-color: rgb(3, 0, 0, .5);
        &:after {
            opacity: 1;
            visibility: unset;
            bottom: 0;
        }
    }
}