main {
    .popular {
        padding: 3rem 0;
        padding-bottom: 10rem;
        // background: radial-gradient($primary-color 40%, $secondary-color);
        background-color: $secondary-color;
        h1 {
            padding: 1.5rem 0;
        }
        .product-list {
            position: relative;
            padding: 3rem 1.5rem;
            // display: grid;
            // grid-template-columns: repeat(4, 1fr); 
            // grid-template-rows: repeat(4, 1);
            // grid-gap: 2rem;
            border-top: .2rem solid $tertiary-color;
            border-bottom: .2rem solid $tertiary-color;
            .product-list-wrap {
                margin: 0 -15px;
            }
            &-item {
                position: relative;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                width: 10rem;
                height: 25rem;
                gap: 1rem;
                padding-bottom: 1rem;
                background: #c5c6c7;
                box-shadow: .1rem .1rem .2rem rgb(155, 82, 94);
                margin: 0 7px;
                img {
                    object-fit: cover;
                    height: 65%;
                    background-color: rgb(248, 245, 245);
                }
                .cate-name {
                    position: absolute;
                    padding: .2rem .3rem;
                    background: linear-gradient(to right, rgb(189, 152, 152), rgb(204, 159, 204), rgb(237, 163, 240));
                    right: -1px;
                    top: 60%;
                    transform: translateY(-50%);
                    font-family: $secondary-font;
                    font-size: 1rem;
                }
                .product-info {
                    padding:    0 1rem;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-end;
                    height: 30%;
                    gap: .7rem;
                    h4 {
                        border-bottom: .1rem solid rgb(117, 115, 115);
                        padding-bottom: .3rem;
                    }
                    .desc {
                        height: 40%;
                        overflow: hidden;
                        font-size: .8rem;      
                     }
                }
                .price {
                    border-top: .1rem solid rgb(117, 115, 115); 
                    font-size: .8rem;
                    padding-top: .3rem;
                }
            }
            &-item:hover {
                cursor: pointer;
                .product-list-item-hover {
                    opacity: 1;
                }
            } 
            &-item-hover {
                position: absolute;
                inset: 0;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 1rem;
                background-color: rgba(0, 0, 0, 0.5);
                opacity: 0;
                transition: .8s;
                i {
                    border: .1rem solid white;
                    padding: .4rem;
                    border-radius: 100rem;
                    font-size: 1.5rem;
                    color: white;
                }
                i:hover {
                    transform: scale(1.3);
                }
            }
            .btn-shopnow {
                position: absolute;
                left: 50%;
                bottom: 0;
                padding: 1rem 2rem;
                transform: translate(-50%, 50%);
                background-color: $tertiary-color;
                border: .2rem solid $primary-color;
                font-family: $primary-font;
                color: white;
            }
            .btn-shopnow:hover {
                font-size: 1rem;
                background-color: $secondary-color;

            }
            
            .slick-arrow {
                background-color: $tertiary-color;
                border: none;
                color: white;
                padding: .5rem .8rem;
            }
            .slick-prev {
                position: absolute;
                top: 50%;
                // left: -5px;
                transform: translate(-50%, -50%);
                z-index: 1;
            }
            .slick-next {
                position: absolute;
                top: 50%;
                right: 0;
                transform: translate(50%, -50%);
                z-index: 1;
            }
        }
    }
}