.product-detail {
    background: #c5c6c7;
    position: relative;
    padding: 5rem 0 10rem 0;
    z-index: 0;
    .title {
        height: 4rem;
        display: flex;
        align-items: center;
        // background-color: white ;
        gap: .5rem;
        a {
            color: black;
        }
    }
    &-main {
        
        display: flex;
        gap: 5rem;
        .product-images {
            width: 50%;
            height: 80vh;
            box-shadow: .1rem .1rem .5rem gray;
            display:flex;
            justify-content: space-between;
            flex-direction: column;
            background-color: rgb(248, 245, 245);
            .main-image {
                position: relative;
                height: 78%;
                overflow: hidden;
                .fa-chevron-right {
                    position: absolute;
                    top: 50%;
                    right: .5rem;
                    font-size: 4rem;
                    cursor: pointer;
                }
                .fa-chevron-left {
                    position: absolute;
                    top: 50%;
                    left: .5rem;
                    font-size: 4rem;
                    cursor: pointer;
                }
                .result {
                    position: absolute;
                    width: 250px;
                    height: 250px;
                    box-shadow: 0 0 10px rgba(0,0,0,0.6);
                    border-radius: 50%;
                    overflow: hidden;
                    transform: translate(-50%, -50%);
                    pointer-events: none;
                }
                
                .hide {
                    display: none;
                }
            }
            img {
                object-fit: cover;
                height: 100%;
            }
            .sub-image {
                // margin-top: 1.2rem;
                display: grid;
                grid-template-columns: repeat(5, 1fr);
                grid-template-rows: 7rem;
                img {
                    border: .05rem solid gray;
                }
            }
        }
        .product-info {
            width: 50%;
            h1 {
                margin-bottom: 1rem;
                font-size: 2rem;
            }
            h2 {
                color: black;
                margin-bottom: 1.5rem;
            }
            .price {
                font-size: 2rem;
                color: rgb(170, 81, 81);
                display: flex;
                align-items: center;
                gap: 1rem;
            }
            .currency {
                border-bottom: .2rem solid black;
                font-size: 1.5rem;
                display: inline-block;
                color: black;
            }
            .underline {
                margin-top: 1rem;
                width: 60%;
                height: .2rem;
                background-color: black;
            }
            .size-detail {
                display: flex;
                flex-wrap: wrap;
                gap: 1rem;
                margin: 1rem 0 1rem 1.5rem;
                .size-number-wrap {
                    position: relative;
                    height: 3rem;
                    width: 3.5rem;
                }
                input {
                    height: 3rem;
                    width: 3.5rem;
                    appearance: none;
                    cursor: pointer;
                    &:hover ~ .size-number,
                    &:checked ~ .size-number {
                         border: 3px solid black;
                    }
                }
                .size-number {
                    content: '';
                    position: absolute;
                    height: 3rem;
                    width: 3.5rem;
                    top: 0;
                    border: 2px solid rgb(107, 98, 98);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    pointer-events: none;

                }
            }
            .desc {
                h3 {
                    // font-size: 1.5rem;
                    margin-bottom: 1rem;
                    color: black;
                }
                p:last-child {
                    margin-left: 1.5rem;
                }
                color: rgb(78, 69, 69);
            }
            .btn-buynow {
                margin: 2rem auto;
                display: flex;  
                align-items: center;
                justify-content: center;
                background: linear-gradient(to left, black 50%, rgb(199, 18, 18) 50%);
                background-size: 200%;
                background-position: right;
                transition: all .5s;
                gap: 0 1rem;
                width: 12rem;
                padding: .5rem;
                font-size: 1rem;
                border-radius: unset;
                color: white;
                position: relative;
                .icon {
                    font-size: 2rem;
                }
            }
            .btn-buynow::before {
                content: '';
                width: 100%;
                height: 100%;
                background: linear-gradient(to left, transparent 50%, rgb(105, 31, 31) 50%);
                background-size: 200%;
                background-position: right;
                transition: all .5s;
                position: absolute;
                top: .4rem;
                left: .4rem;
                border: .1rem solid black;
                z-index: -1;
                cursor: pointer;
            }
            .btn-buynow:hover {
                background-position: left;
                // color: gray;
            }
            .btn-buynow:hover::before {
                background-position: left;
            }
        }
    }
}